<header>
    <div class="header-container">
        <a href="#" class="logo">
            <img src="../static/img/arkxion/arkxion_logo_long.svg" alt="Arkxion Logo" class="header-logo-size">
        </a>
        <nav class="navbar">
            <button class="menu-toggle" aria-label="Toggle menu">
                &#9776;
            </button>
            <div class="menu-container">
                <ul class="menu">
                    <li><a href="#">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#papers">Papers</a></li>
                </ul>
                <div class="custom-language-selector">
                    <button class="lang-btn">
                        🌍 English (US) ▼
                    </button>
                    <ul class="lang-dropdown">
                        <li><a href="#" data-lang="en">🇺🇸 English (US)</a></li>
                        <li><a href="#" data-lang="en_uk">🇬🇧 English (UK)</a></li>
                        <li><a href="#" data-lang="ja">🇯🇵 日本語</a></li>
                    </ul>
                </div>

            </div>
        </nav>
    </div>
</header>
<script src="../static/js/language.js" defer></script>